.BalanceCard {
  border-radius: 30px;
  padding: 20px;
  width: 335px;
  height: 121px;
  background: var(--gradient);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: var(--textWhite);
  }
  &__balance {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--textWhite);
  }
}
